{% extends 'base.html' %}
{% block content %}
<div class="card text-center" style="width: 60%; margin: 0 auto;">
  <div class="card-header" style="font-size: 1.4rem;">
      Contato Renato Kuramoto
  </div>
  <div class="card-body">
      <div class="container">
          <div class="row">
              <div class="col bg-light" style="height: 50px; line-height: 50px; font-size: 1.0rem;">Empresa: </div>
              <div class="col bg-light" style="height: 50px; line-height: 50px; font-size: 1.0rem;">Renato Kuramoto.</div>
              <div class="w-100"></div>
              <div class="col" style="height: 50px; line-height: 50px; font-size: 1.0rem;">WhatsApp:</div>
              <div class="col" style="height: 50px; line-height: 50px; font-size: 1.0rem;">(11) 97038-7477</div>
              <div class="w-100"></div>
              <div class="col bg-light" style="height: 50px; line-height: 50px; font-size: 1.0rem;">E-mail:</div>
              <div class="col bg-light" style="height: 50px; line-height: 50px; font-size: 1.0rem;">renato_kuramoto@hotmail.com</div>
              <div class="w-100"></div>
              <div class="col" style="height: 50px; line-height: 50px; font-size: 1.0rem;">Redes Sociais:</div>
              <div class="col" style="height: 50px; line-height: 50px; font-size: 1.0rem;">Facebook, Twitter, Instagram</div>
          </div>
      </div>
  </div>
  <div class="card-footer text-muted">
      <span>Copyright &copy;<script>document.write(new Date().getFullYear());</script></span>
  </div>
</div>
{% endblock %}